In [1]:
altitude = int(input("enter the altitude"))
if (altitude <= 1000):
    print("safe for landing")
elif (altitude > 1000):

    if (altitude<=5000):
        print("bring it further down to 1000ft")
    else:
        print("turn around and attempt later")

enter the altitude4000
bring it further down to 1000ft

In [3]:
for Number in range (1, 200):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97   101   103   107   109   113   127   131   137   139   149   151   157   163   167   173   179   181   191   193   197   199